body{
    display: block;

}

form{
    display: block;
    margin: 30px 243px;
    padding: 18px 16px;
}

form legend {
    
    font-size: 25px;
    margin-bottom: 17px;
    text-align: center;
    font-family: fantasy;
}

form label {
    display: block;
    font-family: monospace;
    margin-bottom: 10px;
    margin-top: 22px;
}

 input#number ,input#Payment ,input#CustomerIDModal{
    width: 350px;
    padding-left: 9px;

}
input#location {
    width: 350px;
    padding-left: 9px;

}

input#number {
    margin-bottom: 0px;
    margin-left: 1px;
}

form input[type="text"]:focus{
        background: #d2d9dd;
    
}

input[type="submit"] {
    display: block;
    width: 50%;
    margin: 5px 256px;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin-top: 23px;
    background: #b7816c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border: 1px solid #7c8c89;
}
input[type="submit"]:hover{
    background:black; 
}
h3.panel-title.display-td {
    font-family: monospace;
    font-weight: bold;
    padding-top: 24px;
    font-size: 16px;
}

.credit-card-box .panel-heading img {
    padding-top: 26px;
    padding-right: 65px;
    display: block;
    width: 125px;
}



/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}



    
