@import url('https://fonts.googleapis.com/css?family=Kreon|ZCOOL+XiaoWei&display=swap');

*{
    padding : 0;
    margin:0 ;
    font-family :  Roboto, sans-serif;
}
header{
    position: sticky;
    top: 0;
    width:auto ;
    overflow: auto;
    border-bottom: 2px solid ;
    background-color: rgb(131, 116, 93);
    opacity: 70%;
    z-index: 2;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 1);

    }
header img {
    width: 180px;
    height: 90px; 
}

body{
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.2)) ,url("/images/backgound.png") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

} 


/* .container{
    max-width: 1300vh;
} */



.logo{
    float: left;

}

/* .logo h2{
    color:#fff ;
    margin-left: 20px;
    font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

nav{
    padding-top:3% ;
    float: right;
}

nav ul{
    width: auto;
    overflow: auto;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 5px 15px;

}

nav ul li:hover{
    border: 1px solid #fff;
    background-color: rgb(214, 192, 160);
    transition: 0.5s;


}

nav ul .active{
    border: 1px solid #fff;
    background-color: rgb(214, 192, 160);

}

nav ul li a {
    text-decoration: none;
    color:#fff ;
    font-size: 18px;
}

#section2 {
    margin-top: 18%;
    height: 190px;
    color: #a3a76c;
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    background-color: cornsilk;
    /* text-shadow: 0px 2px 5px rgba(0,0,0,0.5); */

    box-shadow: 0px 2px 25px rgba(0,0,0,0.5);
}
h2{
    color: tomato;
}
footer{
    background-color: blanchedalmond;
    opacity: 80%;
    text-align: center;
    margin-top: 14%;
    color: rgb(0, 0, 0);
    height: 20vh;
    font-size: 12px;
    padding: 1px 0px 0px 0px;
    top:   32%;
    width: 100%;
    position: relative;


}
footer p {
    margin-top: 1%;
    font-size: 20px;
}
#section1{
    width: 100%;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>For Slider>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>/*/
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

/* html, body { background: #333 url("https://codepen.io/images/classy_fabric.png"); } */

.slides {
    padding: 0px;
    width: 50%;
    height: 600px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display:inline-block; }

.slide {
    top: 0;
    opacity: 0;
    width: 350px;
    height: 280px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 350px;
    height: 280px;
}
.nav label {
    width: 100px;
    height: 280px;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 70pt;
    text-align: center;
    line-height: 280px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
    width: 350px;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<For Slider End<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<</*/


/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>For Social>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>/*/
.flex-container {
    display: flex;
    margin: 0;
    padding: 0;
    height: 70px;
  }
  .flex-container li {
    list-style: none;
    flex-grow: 1;
  }
  .twitter {
    background-color: #55acee;
    order: 5;
  }
  .twitter:hover {
    background-color: #6fb9f1;
  }
  .facebook {
    background-color: #3b5998;
    order: 3;
  }
  .facebook:hover {
    background-color: #4365ad;
  }
  .github {
    background-color: #0976b4;

  }
  .github:hover {
    background-color: #0a89d1;
  }
  .codepen {
    background-color: #181818;
    order: 2;
  }
  .codepen:hover {
    background-color: #262626;
  }
  .instagram {
    background-color: #ea4c89;
    order: 4;
  }
  .instagram:hover {
    background-color: #ed6499;
  }
  .twitter, 
  .facebook,
  .github,
  .codepen,
  .instagram,
  .twitter:hover, 
  .facebook:hover, 
  .github:hover,
  .codepen:hover,
  .instagram:hover {
    transition: background-color .8s ease;
  }
  .flex-container a {
    display: block;
  }
  .flex-container i {
    color: #fff;
    line-height: 100px;
    width: 100%;
    text-align: center;
  }
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<For Social end<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<</*/
/* section:nth-child(1){
    background: #74b9ff;
}
section:nth-child(2){
    background: #67a8f7;
}
section:nth-child(3){
    background: #7bace7;
}
section:nth-child(4){
    background: #a2c9f0;
}
section:nth-child(5){
    background: #2d455e;
}
section:nth-child(6){
    background: hsl(210, 46%, 60%);
} */